{
  "token": "",
  "owners": [],
  "prefix": ["!"],
  "playing": "games!",
  "database": "DATABASE",
  "dbname": "DATABASE USERNAME",
  "dbpass": "DATABASE PASSWORD",
  "webhookurl": "WEBHOOK URL HERE"
}
